* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content {
  max-width: 1220px;
  margin: 0 auto;
}

body {
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30%;
}
.main-bg {
  padding: 20px;
  height: max-content;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  gap: 20px;
  justify-content: center;
}

.flag img {
  width: 100%;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.card-content,
.flag {
  padding-bottom: 20px;
}

.card-title {
  padding-bottom: 10px;
}

.card-credits {
  text-align: end;
  font-size: 0.8rem;
  color: #333;
  padding: 10px 0 0 0;
}

.button {
  text-transform: uppercase;
  border: 1px solid;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: max-content;
}

/* Bandeira do CANADÃ by InfoDevEstudent - Sergio Felipe */
.wrapper{
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrapper .card-canada{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgb(0, 0, 0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.front-face .title-front-face{
  text-align: left;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.front-face p{
  text-align: justify;
  font-family: "Poppins", sans-serif;
  padding: 0px 10px;
}
.wrapper .author{
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 10px 10px;
}
.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card-canada img{
  height: 210px;
  width: 100%;
  padding: 10px;
  flex: 1;
  object-fit: cover;
  border-radius: 20px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateX(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrapper .back-face .info{
  text-align: center;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  font-family: Helvetica;
}
.back-face .info p{
  font-size: 1.3rem;
  font-family: Helvetica;
}