.footer-bg {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  height: max-content;

  border: solid 1px rgba(255, 255, 255, 0.8);
  color: #333;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: max-content;
  gap: 40px;
  padding: 40px 20px 20px;
}
.footer-logo img {
  height: 150px;
}

.footer-flags-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
  gap: 10px;
}

.footer-flags-item li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px -5px rgb(0 0 0 / 30%);
}

.footer h4 {
  padding-bottom: 20px;
}
/*  */
.footer-copyright {
  text-align: center;
  padding: 20px 0 10px 0;
}

@media screen and (max-width: 800px) {
  .footer-flags-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(98px, 100px));
    gap: 10px;
    font-size: 0.8rem;
  }
  .footer-flags-item img {
    width: 15px;
  }
  .footer {
    grid-template-columns: 1fr;
  }

  .footer-logo img {
    height: 100px;
  }
  .footer-logo {
    width: max-content;
    margin: 0 auto;
    order: 2;
  }
}
