.popup-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: ease;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff7f7f;
  transition: ease 0.8s;
}

.btn-close:hover {
  fill: red;
}
.transparent {
  background-color: transparent;
  transition: ease 0.8s;
}

.popup {
  background-color: #ddd;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  height: max-content;
  position: relative;
  animation: slide-down ease 0.8s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}

.slide-up {
  animation: slide-up ease 1.3s;
}

@keyframes slide-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(-200px);
  }
}
