#argentina {
  position: relative;
  transition: 0.2s all;
}
#argentina:hover {
  box-shadow: inset 0 0px 0px 3px rgb(255, 222, 35);
}

#argentina .card-trofeu {
  position: absolute;
  width: 40px;
  top: -10px;
  right: -10px;
}

#argentina .button {
  background-color: aqua;
  color: rgb(2, 2, 49);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  transition: 0.1s all;
}

#argentina .flag {
  background-image: url("../../img/flags/flagArg.png");
  background-position: center;
  background-size: cover;
}

#argentina .card-credits {
  font-weight: 700;
  color: rgb(2, 2, 49);
}
#argentina .card-title {
  color: rgb(2, 2, 49);
}
#argentina .card-title-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
#argentina .emoji-star {
  font-size: 15px;
}
#argentina .card-content p {
  color: rgb(2, 2, 49);
  text-align: justify;
}
#argentina .button:hover {
  background-color: rgb(2, 2, 49);
  color: aqua;
  border: 1px solid aqua;
  font-weight: 700;
}

#argentina .card-credits {
  padding-bottom: 0;
}
#argentina .card-credits-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}

#argentina .card-credits-content img {
  height: 20px;
  padding-left: 10px;
}
