#brasil {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 10px -5px rgb(0 0 0 / 30%);
}

#brasil .button {
  background-color: green;
  color: yellow;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  transition: 0.3s all;
}
#brasil .flag {
  background-image: url("../../img/flags/flagBra.png");
  background-position: center;
  background-size: cover;
}

#brasil .button:hover {
  background-color: green;
  color: white;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

#brasil .card-content h1 {
  border-bottom: 2px solid green;
}

#brasil .card-credits {
  font-weight: 700;
  color: green;
}

#brasil .card-credits {
  padding-bottom: 0;
}

#brasil .card-credits-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}

#brasil .card-credits-content img {
  height: 20px;
  padding-left: 10px;
}
