#brasil .button {
  background-color: green;
  color: yellow;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

#brasil .card-content h1 {
  border-bottom: 2px solid green;
}

#brasil .card-credits {
  font-weight: 700;
  color: green;
}
