#brasil .button {
  background-color: green;
  color: yellow;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

#brasil .card-content h1 {
  border-bottom: 2px solid green;
}

#brasil .card-credits {
  font-weight: 700;
  color: green;
}

#brasil .card-credits {
  padding-bottom: 0;
}

#brasil .card-credits-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}

#brasil .card-credits-content img {
  height: 20px;
  padding-left: 10px;
}
