#marroco {
    background: #07182E;
    position: relative;
    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 10px -5px rgb(0 0 0 / 30%);
  }

  #marroco .card-content, .card-content2{
    z-index: 1;
  }

  #marroco::before {
    content: '';
    position: absolute;
    top: -45px;
    right: 120px;
    width: 100px;
    background-image: linear-gradient(180deg, #E61127, #1DB039);
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  #marroco::after {
    content: '';
    position: absolute;
    background: white;
    ;
    inset: 5px;
    border-radius: 15px;
  }  


  #marroco .card-credits {
    font-weight: 700;
    color: #E61127;
    padding-bottom: 0px;
  }

  #marroco .card-credits-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
  }

  #marroco .card-subtitle {
    text-align: justify;
  }
  
  #marroco .card-credits-content img {
    height: 20px;
    padding-left: 10px;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.saiba-mais {
    width: 12rem;
    height: auto;
   }
   
   button.saiba-mais .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1DB039;
    border-radius: 1.625rem;
   }
   
   button.saiba-mais .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.saiba-mais .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.saiba-mais .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.saiba-mais .button-text a{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #1DB039;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text a{
    color: #E61127;
   }